.navbar {
  background: linear-gradient(rgb(227, 9, 235), rgba(19, 19, 19, 0.356));
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
    color: rgb(0, 128, 128);
    text-shadow: 0 0 20px #ffffff, 0 0 40px #ffffff;
    transition: all 0.4s ease;
  }
  
  .navbar .navbar-brand:hover {
    transition: all 0.4s ease;
  }
  
  .navbar .navbar-brand {
    color: rgb(255, 255, 255);
  }
  
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .navbar .navbar-nav .nav-item .nav-link.active {
    background-color: rgb(238, 5, 238);
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
  }